// $brown: #926239;
$main-light: #FFF9FB;
$main-dark: #252627;

$main-light: #F8F8F0;
$main-dark: #043927;

$main-light: #CEA393;
$main-dark: #012622;

$main-light: #A7D0D9;

$main-light: #BFB59B;
$main-dark: #191C0E;
